In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Advertising_data.csv')

In [3]:
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [4]:
X=df[['Gender','Age','EstimatedSalary']]
y=df['Purchased']

In [5]:
gender =pd.get_dummies(df['Gender'],drop_first=True)

In [6]:
X=X.drop(['Gender'],axis=1)
X=pd.concat([X,gender],axis=1)

In [7]:
X

      Age  EstimatedSalary  Male
0    19.0          19000.0     1
1    35.0          20000.0     1
2    26.0          43000.0     0
3    27.0          57000.0     0
4    19.0          76000.0     1
..    ...              ...   ...
395  46.0          41000.0     0
396  51.0          23000.0     1
397  50.0          20000.0     0
398  36.0          33000.0     1
399  49.0          36000.0     0

[400 rows x 3 columns]

In [8]:
#Splitting the dataset into train and test data 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=5,test_size=0.5)

C:\Users\lnazr\miniconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [10]:
#Fitting Kernel SVM to training set
from sklearn.svm import SVC
model = SVC(kernel='linear',random_state=0)
model.fit(X_train,y_train)

SVC(kernel='linear', random_state=0)

In [11]:
#Predicting y_pred
y_pred=model.predict(X_test)

In [12]:
#Confusion Matrix 
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[123,  10],
       [ 20,  47]], dtype=int64)

In [13]:
#Accuracy score
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)
acc

0.85

In [14]:
#Using Grid search CV to find the best parameter
from sklearn.model_selection import GridSearchCV
parameters=[{'C':[0,1,10,100,1000],'kernel':['linear']},
            {'C':[0,1,10,100,1000],'kernel':['rbf'],'gamma':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]}]
gs = GridSearchCV(estimator=model,
                  param_grid=parameters,
                  cv=10,
                  n_jobs=-1,
                  scoring='accuracy'
                 )
gs=gs.fit(X_train,y_train)

C:\Users\lnazr\miniconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
100 fits failed out of a total of 500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
100 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\lnazr\miniconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\lnazr\miniconda3\lib\site-packages\sklearn\svm\_base.py", line 255, in fit
    fit(X, y, sample_weight, solver_type, kernel, random_seed=seed)
  File "C:\Users\lnazr\miniconda3\lib\site-packages\sklearn\svm\_base.py", line 315, in _dense_fit
    ) = libsvm.fit(
  File "sklearn\svm\_libsvm.pyx", line 189, in sklearn.svm._libsvm.fit
ValueError: C <= 0

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\lnazr\miniconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [  nan 0.82  0.825 0.82  0.82    nan   nan   nan   nan   nan   nan   nan
   nan   nan 0.87  0.89  0.885 0.885 0.88  0.885 0.89  0.885 0.89  0.885
 0.88  0.875 0.87  0.88  0.88  0.855 0.855 0.855 0.87  0.87  0.855 0.835
 0.84  0.87  0.855 0.85  0.85  0.855 0.84  0.845 0.86  0.835 0.835 0.835
 0.83  0.83 ]
  warnings.warn(

In [15]:
accuracy=gs.best_score_

In [16]:
accuracy

0.89

In [17]:
params=gs.best_params_
params

{'C': 1, 'gamma': 0.2, 'kernel': 'rbf'}

In [18]:
model = SVC(kernel='rbf',gamma=0.2, random_state=0)
model.fit(X_train,y_train)

SVC(gamma=0.2, random_state=0)

In [19]:
y_pred=model.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)
acc

0.925